## Dictionaries

In [6]:
#Fetching data using list
pop=[30.55, 2.77, 39.21]
countries=["afghanistan","albania","algeria"]
ind_alb=countries.index('albania')
print(countries.index('albania'))
print(pop[ind_alb])

2.77

In [7]:
#Fetching data in a dictionary
world={"afghanistan":30.55,"albania":2.77,"algeria":39.21}
print(world["albania"])

2.77

In [9]:
europe={'spain':'madrid','france':'paris','germany':'berlin','norway':'oslo'}
print(europe.keys())    #keys of dict europe
print(europe.values())  #values of dict europe
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])
oslo

In [10]:
#Duplicating a key in dictionary
world={"afghanistan":30.55,"albania":2.77,"algeria":39.21,"albania":2.81}    #Albania is duplicated in a set
print(world["albania"])    #Printing value for Albania return the new value

2.81

In [11]:
a={0:"hello", True:"dear", "two":"world"}    #This is possible

In [12]:
a={["Asia","Europe","Africa","Americas"]:"world"}    #This will return error as list is a mutable object

TypeError: unhashable type: 'list'

In [22]:
#Adding a new key, value in a dictionary
world={"afghanistan":30.55,"albania":2.77,"algeria":39.21,"albania":2.81}
world["india"]=285
print("india" in world)
print(world)

True
{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'india': 285}

In [23]:
#Deletion in a dictionary
del(world["india"])
print("india" in world)
print(world)

False
{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

In [25]:
#Dictionary of Dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

print(europe['spain']['capital'])
data={'capital':'rome','population':59.83}
europe['italy']=data
print(europe)

madrid
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## Pandas

In [26]:
!pip install pandas    #Installing pandas

Requirement already satisfied: pandas in c:\users\shrir\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\shrir\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\shrir\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\shrir\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\shrir\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [3]:
#Converting a dict into Pandas DataFrame
import pandas as pd
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
pd.DataFrame(europe)

             spain france germany norway
capital     madrid  paris  berlin   oslo
population   46.77  66.03   80.62  5.084

In [4]:
#Converting csv file into Pandas DataFrame
data_csv=pd.read_csv("C:\Python Files\Source files/brics.csv")
data_csv

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Barsilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  Sout Afrrica   Pretoria   1.221       52.98

In [5]:
#Converting csv file into Pandas DataFrame with index column set as '0'
data_csv=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
data_csv

         country    capital    area  population
BR        Brazil   Barsilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  Sout Afrrica   Pretoria   1.221       52.98

In [6]:
data_csv.index=["BRA","RUS","IND","CHN","RSA"]
data_csv

          country    capital    area  population
BRA        Brazil   Barsilia   8.516      200.40
RUS        Russia     Moscow  17.100      143.50
IND         India  New Delhi   3.286     1252.00
CHN         China    Beijing   9.597     1357.00
RSA  Sout Afrrica   Pretoria   1.221       52.98

In [7]:
#Exercise:
#Converting list to dict and to pandas
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
my_dict={'country':names,'drives_right':dr,'cars_per_cap':cpc}
cars=pd.DataFrame(my_dict)
cars.index=["US","AUS","JPN","IND","RU","MOR","EG"]
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IND          India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [16]:
#Reading a column as pandas series
cars['country']

US     United States
AUS        Australia
JPN            Japan
IND            India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [11]:
#Reading a column as pandas DataFrame
cars[['country']]

           country
US   United States
AUS      Australia
JPN          Japan
IND          India
RU          Russia
MOR        Morocco
EG           Egypt

In [12]:
#Reading multiple columns as Pandas DataFrame
cars[['country','drives_right','cars_per_cap']]

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IND          India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [19]:
#Printing particular rows in Pandas
cars[0:3]    #Prints the first 2 rows results with 3rd row excluded

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588

In [21]:
# loc vs iloc, they are used to print values of a key in pandas
#loc - label based
#iloc - integer position based
cars.loc["RU"]    #loc in pandas series

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [22]:
cars.loc[["RU"]]    #loc in pandas DataFrame

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [23]:
#Same Russia is referred using iloc using index position rather label
cars.iloc[4]    #pandas series

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [24]:
cars.iloc[[4]]    #iloc in pandas DataFrame

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [31]:
#printing a particular column result using loc
cars.loc['RU'],['cars_per_cap'],['drives_right']

(country         Russia
 drives_right      True
 cars_per_cap       200
 Name: RU, dtype: object,
 ['cars_per_cap'],
 ['drives_right'])

In [39]:
#printing a particular column result using loc
cars.iloc[4][:3]

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [40]:
#Printing a column using loc
cars.loc[:,['drives_right']]

     drives_right
US           True
AUS         False
JPN         False
IND         False
RU           True
MOR          True
EG           True

In [42]:
#Printing the same column using iloc
cars.iloc[:,[1]]

     drives_right
US           True
AUS         False
JPN         False
IND         False
RU           True
MOR          True
EG           True