## Loops

While loop:

While loop executes until a condition becomes false.
Syntax:
while condition:
     Expression    indentation is important

In [3]:
#Example:
#Brief - A program that checks if the error is grater than 1
error=50
while error>1:
    error=error/4
    print(error)

12.5
3.125
0.78125

In [5]:
#Exercise 1:
x=1
while x<4:
    print(x)
    x+=1    #x=x+1 or x+=1, both are valid

1
2
3

In [7]:
#Exercise 2:
offset =8
while offset !=0:
    print("Correcting...")
    offset-=1
    print(offset)

Correcting...
7
Correcting...
6
Correcting...
5
Correcting...
4
Correcting...
3
Correcting...
2
Correcting...
1
Correcting...
0

In [9]:
#Exercise 3:
offset =8
while offset !=0:
    print("Correcting...")
    if offset>0:
        offset-=1
    else:
        offset+=1
    print(offset)

Correcting...
7
Correcting...
6
Correcting...
5
Correcting...
4
Correcting...
3
Correcting...
2
Correcting...
1
Correcting...
0

For loop:

syntax:
for var in seq:
    expression

In [10]:
#Example 1:
fam=[1.73,1.68,1.71,1.89]
for h in fam:    #var 'h' takes each element in 'fam' index wise and print it
    print(h)

1.73
1.68
1.71
1.89

In [12]:
#Example 2:
fam=[1.73,1.68,1.71,1.89]
for i,h in enumerate(fam):    #enumerate function return index number and value  
    print("The index is: ",i,"The height is: ",h)

The index is:  0 The height is:  1.73
The index is:  1 The height is:  1.68
The index is:  2 The height is:  1.71
The index is:  3 The height is:  1.89

In [14]:
#Example 3:
#For loop in a string
a='shriram'
for i in a:
    print(i.capitalize())

S
H
R
I
R
A
M

In [15]:
#Exercise 1:
areas=[11.25,18.0,20.0,10.75,9.50]
for x,y in enumerate(areas):
    print("Room "+str(x)+": "+str(y))

Room 0: 11.25
Room 1: 18.0
Room 2: 20.0
Room 3: 10.75
Room 4: 9.5

In [16]:
#Exercise 2:
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
for x,y in house:
    print("the "+str(x)+" is "+str(y)+" sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [20]:
a = ['Shriram', 25]
for x, y in a:
    print(x, y)    #This works only in a sublist

ValueError: too many values to unpack (expected 2)

In [18]:
a = [['Shriram', 25]]
for x, y in a:
    print(x, y)    #This is a sublist

Shriram 25

For loop in dictionary and numpy:

In [21]:
#For loop in a dictionary
world={"afghanistan":30.55,"albania":2.77,"algeria":39.21}
for key,values in world:    #Calling two variables in a for loop in dict is not possible
    print(key,values)

ValueError: too many values to unpack (expected 2)

In [22]:
#To achieve that we need to used items() method
world={"afghanistan":30.55,"albania":2.77,"algeria":39.21}
for key,values in world.items():    
    print(key,values)

afghanistan 30.55
albania 2.77
algeria 39.21

In [25]:
import numpy as np
np_height=np.array([1.73,1.68,1.71,1.89,1.79])
np_weight=np.array([65.4,59.2,63.6,88.4,68.7])
meas=np.array([np_height,np_weight])
for val in meas:
    print(val)

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.7]

In [27]:
import numpy as np
np_height=np.array([1.73,1.68,1.71,1.89,1.79])
np_weight=np.array([65.4,59.2,63.6,88.4,68.7])
meas=np.array([np_height,np_weight])
for val in np.nditer(meas):    #We are using a function called nditer from numpy package to print elemets sequentially
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

In [28]:
#Exercise 1:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
for x,y in europe.items():
    print("the capital of "+x+" is "+y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

Looping in Pandas DataFrame:

In [55]:
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)

In [62]:
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for val in brics:    #A simple for loop will only print label in a Pandas DataFrame
    print(val)

country
capital
area
population

In [63]:
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for lab,row in brics.iterrows():
    print(lab)    #lab is BR
    print(row)    #row is the entire pandas series

BR
country         Brazil
capital       Barsilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       Sout Afrrica
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [64]:
#Subsetting in Pandas using for loop
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for lab,row in brics.iterrows():
    print(lab +": "+row["capital"])

BR: Barsilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [65]:
#Adding a new column Name_length with lenght of country field
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for lab,row in brics.iterrows():
    brics.loc[lab,'Name_length']=len(row['country'])
print(brics)

         country    capital    area  population  Name_length
BR        Brazil   Barsilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  Sout Afrrica   Pretoria   1.221       52.98         12.0

In [67]:
#Achieving the same using alternate approach
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
brics['Name_length']=brics['country'].apply(len)
print(brics)

         country    capital    area  population  Name_length
BR        Brazil   Barsilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  Sout Afrrica   Pretoria   1.221       52.98           12

In [68]:
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for lab,row in brics.iterrows():
    brics['Name_length']=len(brics['country'])
print(brics)

         country    capital    area  population  Name_length
BR        Brazil   Barsilia   8.516      200.40            5
RU        Russia     Moscow  17.100      143.50            5
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  Sout Afrrica   Pretoria   1.221       52.98            5

In [69]:
#Adding a new column COUNTRY that converts country name in upper case
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
for lab,row in brics.iterrows():
    brics.loc[lab,'COUNTRY']=row['country'].upper()
print(brics)

         country    capital    area  population       COUNTRY
BR        Brazil   Barsilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  Sout Afrrica   Pretoria   1.221       52.98  SOUT AFRRICA

In [73]:
#Adding a new column COUNTRY that converts country name in upper case
#Alternative approach
import pandas as pd
brics=pd.read_csv("C:\Python Files\Source files/brics.csv",index_col=0)
brics['COUNTRY']=brics['country'].apply(str.upper)
print(brics)

         country    capital    area  population       COUNTRY
BR        Brazil   Barsilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  Sout Afrrica   Pretoria   1.221       52.98  SOUT AFRRICA